:root {
    --back: #282a36;
    --selection: #44475a;
    --fore: #f8f8f2;
    --comment: #6272a4;
    --dracula-cyan: #8be9fd;
    --papercolor-cyan: #0087af;
    --dracula-green: #50fa7b;
    --papercolor-green: #008700;
    --dracula-pink: #ff79c6;
    --papercolor-pink: #d70087;
    --dracula-purple: #bd93f9;
    --papercolor-purple: #8700af;
    --dracula-red: #ff5555;
    --max-width: 800px;
    --fonts: 'FiraCode', 'Hack', 'Source Code Pro', 'Cascadia Code', 'Consolas', 'Liberation Mono', monospace;
}

html {
    max-width: var(--max-width);
    margin: 0 auto;
    font-family: var(--fonts);
    box-sizing: border-box;
}

html,
html.dark {
    --bg-color: var(--back);
    --text-color: var(--fore);
    --border-color: var(--dracula-purple);
    --link-color: var(--dracula-green);
    --link-hover: var(--dracula-cyan);
    --link-visited: var(--dracula-green);
    --selection-bg: var(--selection);
    --selection-color: var(--fore);
    --b-color: var(--dracula-pink);
    --code-color: var(--dracula-pink);
    --light-visible: inline-block;
    --dark-visible: none;
}

html.light {
    --bg-color: var(--fore);
    --text-color: var(--back);
    --border-color: var(--papercolor-purple);
    --link-color: var(--papercolor-green);
    --link-hover: var(--papercolor-cyan);
    --link-visited: var(--papercolor-green);
    --selection-bg: var(--comment);
    --selection-color: var(--fore);
    --b-color: var(--papercolor-pink);
    --code-color: var(--papercolor-pink);
    --light-visible: none;
    --dark-visible: inline-block;
}

body,
body {
    font-size: 12pt;
    background-color: var(--bg-color);
    color: var(--text-color);
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-color);
}

img {
    width: 100%;
}

code {
    color: var(--code-color);

}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: 0.5em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

a:target {
    font-style: italic;
}

a:active {
    color: var(--link-hover);
}

a:visited {
    color: var(--link-visited);
}

a.hidden:active,
a.hidden:visited,
a.hidden:target {
    color: var(--text-color);
}

b {
    color: var(--b-color);
    font-weight: normal;
}

.todo {
    color: var(--dracula-red);
    font-weight: 900;
    font-size: 120%;
}

.right {
    text-align: right;
}

.button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    margin-top: 2em;
}

.subtitle {
    margin-left: 1em;
}

#button {
    position: relative;
    padding-right: 0.5em;
}

#jedi {
    display: var(--light-visible);
    z-index: 2;
}

#sith {
    display: var(--dark-visible);
    z-index: 1;
}

input,
button {
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 100%;
    border-radius: 1ch;
    padding: 0.2ch 0.4ch;
    outline: none !important;
    margin-bottom: 0.4ch;
    font-family: var(--fonts);
}

#step-time {
    width: 10ch;
}

input[type=number] {
    width: 7ch;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
    cursor: pointer;
    accent-color: var(--border-color);
    border-radius: 0.1ch;
}

#generate {
    padding: 0.5ch 0.7ch;
    border-width: 4px;
}

input:focus,
button:active {
    border-color: var(--link-color);
}

.common {
    border-left: 3px solid var(--border-color);
    padding-left: 1ch;
    border-radius: 1ch;
}

#time {
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
}

#time:active {
    border-color: var(--border-color);
}

#somecontainer {
    height: 10em;
}

#flagtext {
    width: 5ch;
}

#optionals {
    display: block;
}

#optionals.hidden {
    display: none;
}

#otheroption {
    display: none;
}

#otheroption.hidden {
    display: block;
}

#output-container {
    border-top: 1px dashed var(--dracula-purple);
    margin-top: 3em;
    padding-top: 3em;
    display: block;
}

#output-container.hidden {
    display: none;
}

table {
    width: 100%;
    margin-top: 1em;
}

table input {
    width: 80%;
    display: inline-block;
}

table th {
    font-size: 150%;
    padding-bottom: 1ch;
}

table td {
    text-align: center;
}

footer {
    /* position: fixed; */
    margin-top: 4em;
    bottom: 0;
    max-width: var(--max-width);
    background-color: var(--bg-color);
}